@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');


#navbar{

    font-style: bold; 
    font: bold;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 50px;
    background: rgba(0,0,0,0.7);
}

#navbar ul{
    display: flex;
   
    list-style: none;
    padding-top: 1rem;
    width: 100%;
    justify-content: center;
}

#navbar ul li{
    align-items: right;
    margin: 0 1rem;
    padding: 5 rem;

}

#navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;

}

#navbar ul li a:hover{
    color: grey;
}

*{
    margin: 0;
    
   
}

p#abc{
    background: #333;
    min-height: 20vh;
    font-family: 'Ubuntu', sans-serif ;
    color:#acacac;
    font-size: 26px;
    font-weight: 200;
    padding-top: 55px;
    position: relative;
    background: url('grey.jpg') no-repeat center center/
    cover;
    
}

section#sec1{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    background: url('grey.jpg') no-repeat center center/
    cover;
}

 .container{
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px 0;
    
    
    
}

.container .card{
    position: relative;
    height: 300px;
    background: #d1d1d1;
    display: flex;
    width: 30%;
    margin: 30px 0;
   
    
}

section#sec1 .container .card .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #454545; 
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
   
}

section#sec1 .container .card:hover .imgBx{
    width: 150px;
    height: 150px;
    left:-75px;
    top: calc(50% - 75px);
    transition: 0.5s ease-in-out;

}



section#sec1 .container .card .content{
    position: absolute;
    right: 0;
    width: calc(100% - 95px);
    height: 100%;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    font-family:'Ubuntu', sans-serif ;
   
}

.container .card .content h2{
    margin-bottom: 5px;
    font-size: 24px;
    padding-right: 10px;
}

.container .card .content a{
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #333;
    text-decoration: none;
    color: #fff;
}

@media (max-width:992px)
{
    .container
    {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .container .card{
        width: 400px;
    }
}

@media (max-width:992px)
{
    .container .card{
        width: 300px;
    }
    .container .card .imgBx
    {
        position: relative;
    }
    .container .card .imgBx,
    .container .card:hover .imgBx
    {
        width: 100%;
        height: 200px;
        left:0;
    }


}



.main{
    background: url('grey.jpg') no-repeat center center/
    cover;
    padding-left: 5px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #bebebe;

}
.main h4{
    color: #00d2d2;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
  }

  
 figcaption{
     text-align: right;
     padding-right: 80px;
     padding-top: 5px;
 } 